openapi: 3.1.0
info:
    title: Portal ArtFinal API
    version: 1.0.0
    description: |
        API pública da Plataforma de Gestão de Formaturas ArtFinal.

        - Convenções transversais: `docs/api/api-conventions.md`.
        - Envelope de erro único: `docs/api/error-envelope.md`.
        - Contrato endpoint por endpoint: `docs/api/api-contract.md`.
        - Integrações externas: `docs/api/integrations.md`.
        - Changelog e política de deprecação (RFC 8594): `docs/api/api-CHANGELOG.md`.

        Este documento é o **esqueleto** OpenAPI. Apenas 3 endpoints estão totalmente especificados
        como modelo (login, criar reserva, webhook de pagamento). Os demais estão referenciados nos
        paths com `$ref` para os schemas de resource/error e `description` apontando para o contrato.
        A versão completa é gerada em runtime por `dedoc/scramble` a partir de FormRequests e Resources.
    contact:
        name: Engenharia ArtFinal
        email: engenharia@portalartfinal.com.br
    license:
        name: Proprietary

servers:
    - url: https://api.portalartfinal.com.br/api/v1
      description: Produção
    - url: https://staging.api.portalartfinal.com.br/api/v1
      description: Staging
    - url: http://localhost/api/v1
      description: Desenvolvimento local (Laradock)

tags:
    - name: Autenticação
      description: Login, logout e contexto do usuário.
    - name: FormandoMe
      description: Rotas sob /me/* — contexto do formando logado.
    - name: Eventos
      description: Leitura de eventos vinculados ao usuário.
    - name: Convites
      description: CRUD de convites, emissão em lote e RSVP via token mágico.
    - name: Seating
      description: Mapa de mesas, reservas, hold/confirmação.
    - name: Extras
      description: Catálogo e pedido de produtos extras.
    - name: Pagamentos
      description: Intents e consulta de pagamento.
    - name: Enquetes
      description: Listagem, detalhe e voto.
    - name: Webhooks
      description: Endpoints consumidos por provedores externos.

security:
    - sanctumCookie: []
    - bearerAuth: []

components:
    securitySchemes:
        sanctumCookie:
            type: apiKey
            in: cookie
            name: laravel_session
            description: |
                Cookie de sessão criado pelo fluxo SPA Sanctum. Requer que o cliente
                tenha chamado `GET /sanctum/csrf-cookie` antes do `POST /auth/login` com `mode=spa`.
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: sanctum-token
            description: |
                Token pessoal Sanctum emitido em `POST /auth/login` com `mode=token`.
                Enviar como `Authorization: Bearer <token>`.
        conviteToken:
            type: apiKey
            in: path
            name: token
            description: |
                Token mágico enviado ao convidado no e-mail. Resolve via middleware
                `ResolveConviteToken` que compara `sha256(token)` com `convites.token_hash`.

    parameters:
        UlidPathParam:
            name: ulid
            in: path
            required: true
            description: Identificador público `CHAR(26)` (ULID).
            schema:
                type: string
                minLength: 26
                maxLength: 26
                pattern: '^[0-9A-HJKMNP-TV-Z]{26}$'
                example: 01J5K2N7QMHV1FJZ8H0PR3RV9C

        PageSize:
            name: page[size]
            in: query
            required: false
            description: Itens por página (max 100, default 50).
            schema:
                type: integer
                minimum: 1
                maximum: 100
                default: 50

        PageCursor:
            name: page[cursor]
            in: query
            required: false
            description: Cursor opaco para paginação. Ignorado se inválido.
            schema:
                type: string

        SortParam:
            name: sort
            in: query
            required: false
            description: |
                Ordenação. Campos separados por vírgula. Prefixo `-` para descendente.
                Ex.: `sort=-created_at,codigo`.
            schema:
                type: string

        XIdempotencyKeyHeader:
            name: X-Idempotency-Key
            in: header
            required: true
            description: |
                Chave única do cliente para deduplicar POSTs sensíveis. Max 80 chars.
                Reutilização com payload diferente → 409 IdempotencyConflict.
            schema:
                type: string
                maxLength: 80

        XRequestIdHeader:
            name: X-Request-Id
            in: header
            required: false
            description: |
                Identificador opcional do cliente. Sempre ecoado no response.
                Quando ausente, middleware `AttachRequestId` gera um ULID.
            schema:
                type: string

        XCorrelationIdHeader:
            name: X-Correlation-Id
            in: header
            required: false
            description: Propaga correlation id de domínio entre webhooks e jobs.
            schema:
                type: string

    headers:
        DeprecationHeader:
            description: Presente em endpoints deprecados (RFC 8594).
            schema:
                type: boolean
                example: true
        SunsetHeader:
            description: Data a partir da qual o endpoint retorna 410.
            schema:
                type: string
                format: http-date
        LinkSuccessor:
            description: URL da versão sucessora.
            schema:
                type: string
        RetryAfter:
            description: Segundos até nova tentativa.
            schema:
                type: integer

    schemas:
        # -----------------------------
        # Envelope de erro
        # -----------------------------
        ErrorEnvelope:
            type: object
            required: [error, message, request_id, timestamp]
            properties:
                error:
                    type: string
                    description: Chave constante. Cliente faz branch por este campo.
                    examples:
                        - ValidationError
                        - Forbidden
                        - AssentoIndisponivel
                        - HoldExpirado
                        - CotaEsgotada
                        - IdempotencyConflict
                        - RateLimitExceeded
                        - InternalServerError
                message:
                    type: string
                    description: Texto amigável em PT-BR.
                details:
                    type: object
                    nullable: true
                    additionalProperties: true
                    properties:
                        fields:
                            type: object
                            description: Em ValidationError, campo → lista de mensagens.
                            additionalProperties:
                                type: array
                                items:
                                    type: string
                request_id:
                    type: string
                    description: ULID ecoado do header X-Request-Id.
                timestamp:
                    type: string
                    format: date-time

        # -----------------------------
        # Paginação canônica
        # -----------------------------
        PaginationMeta:
            type: object
            required: [per_page]
            properties:
                per_page:
                    type: integer
                next_cursor:
                    type: string
                    nullable: true
                prev_cursor:
                    type: string
                    nullable: true
                total:
                    type: integer
                    description: Presente apenas em length-aware offset.
                current_page:
                    type: integer
                last_page:
                    type: integer

        PaginationLinks:
            type: object
            required: [self]
            properties:
                self: { type: string }
                next: { type: string, nullable: true }
                prev: { type: string, nullable: true }

        ResourceLinks:
            type: object
            required: [self]
            properties:
                self:
                    type: string
            additionalProperties:
                type: string
                nullable: true

        # -----------------------------
        # Autenticação
        # -----------------------------
        LoginRequest:
            type: object
            required: [email, password, mode]
            properties:
                email:
                    type: string
                    format: email
                    maxLength: 150
                password:
                    type: string
                    minLength: 8
                    maxLength: 128
                mode:
                    type: string
                    enum: [spa, token]
                remember:
                    type: boolean
                    default: false
                device_name:
                    type: string
                    maxLength: 60
                    description: Obrigatório quando mode=token.

        LoginSpaResponse:
            type: object
            properties:
                status: { type: string, example: ok }
                user:
                    $ref: '#/components/schemas/MeUser'

        LoginTokenResponse:
            type: object
            properties:
                access_token: { type: string, example: '1|aBc123...' }
                abilities:
                    type: array
                    items: { type: string }
                user:
                    $ref: '#/components/schemas/MeUser'

        MeUser:
            type: object
            properties:
                id: { type: string, description: ULID }
                nome: { type: string }
                email: { type: string, format: email }
                tipo:
                    type: string
                    enum: [formando, comissao, responsavel_financeiro, admin]

        # -----------------------------
        # Eventos
        # -----------------------------
        EventoResource:
            type: object
            required: [id, slug, nome, data_evento, status]
            properties:
                id: { type: string, description: ULID }
                slug: { type: string }
                nome: { type: string }
                data_evento: { type: string, format: date-time }
                status:
                    type: string
                    enum: [rascunho, publicado, encerrado, arquivado]
                janelas:
                    type: object
                    properties:
                        abre_rsvp_at: { type: string, format: date-time, nullable: true }
                        fecha_rsvp_at: { type: string, format: date-time, nullable: true }
                        abre_mesas_at: { type: string, format: date-time, nullable: true }
                        fecha_mesas_at: { type: string, format: date-time, nullable: true }
                config:
                    type: object
                    additionalProperties: true
                links:
                    $ref: '#/components/schemas/ResourceLinks'

        # -----------------------------
        # Convites
        # -----------------------------
        ConviteResource:
            type: object
            required: [id, codigo, status, tipo]
            properties:
                id: { type: string }
                codigo: { type: string, description: 'Legível, curto, UNIQUE' }
                status:
                    type: string
                    enum: [rascunho, emitido, enviado, visualizado, confirmado, recusado, cancelado, inutilizado]
                tipo:
                    type: string
                    enum: [nominal, transferivel, cortesia, staff, extra]
                convidado:
                    type: object
                    properties:
                        nome: { type: string }
                        email: { type: string, format: email, nullable: true }
                        telefone: { type: string, nullable: true }
                entregue_at: { type: string, format: date-time, nullable: true }
                visualizado_at: { type: string, format: date-time, nullable: true }
                confirmado_at: { type: string, format: date-time, nullable: true }
                links:
                    $ref: '#/components/schemas/ResourceLinks'

        CriarConviteRequest:
            type: object
            required: [tipo, convidado, origem_cota]
            properties:
                tipo:
                    type: string
                    enum: [nominal, transferivel, cortesia]
                convidado:
                    type: object
                    required: [nome]
                    properties:
                        nome: { type: string, maxLength: 150 }
                        email: { type: string, format: email, maxLength: 150 }
                        telefone: { type: string, maxLength: 30 }
                origem_cota:
                    type: string
                    enum: [base, transferivel, cortesia, staff]

        LoteConviteResource:
            type: object
            required: [id, status, qtd_total, qtd_processados]
            properties:
                id: { type: string }
                status:
                    type: string
                    enum: [processando, concluido, falhou]
                qtd_total: { type: integer }
                qtd_processados: { type: integer }
                qtd_falhados: { type: integer }
                iniciado_at: { type: string, format: date-time, nullable: true }
                concluido_at: { type: string, format: date-time, nullable: true }
                status_url: { type: string }

        # -----------------------------
        # Adesão
        # -----------------------------
        AdesaoResource:
            type: object
            required: [id, status, valor_total_centavos, qtd_parcelas]
            properties:
                id: { type: string }
                status:
                    type: string
                    enum: [rascunho, pendente_pagamento, ativa, cancelada, inadimplente, concluida]
                evento:
                    $ref: '#/components/schemas/EventoResource'
                pacote:
                    type: object
                    properties:
                        id: { type: string }
                        nome: { type: string }
                valor_total_centavos: { type: integer }
                qtd_parcelas: { type: integer }
                confirmada_at: { type: string, format: date-time, nullable: true }
                parcelas_resumo:
                    type: object
                    properties:
                        total: { type: integer }
                        pagas: { type: integer }
                        pendentes: { type: integer }
                        vencidas: { type: integer }
                links:
                    $ref: '#/components/schemas/ResourceLinks'

        # -----------------------------
        # Seating
        # -----------------------------
        ReservaAssentoResource:
            type: object
            required: [id, status]
            properties:
                id: { type: string }
                status:
                    type: string
                    enum: [hold, confirmada, cancelada, expirada, bloqueada]
                mesa:
                    type: object
                    properties:
                        id: { type: string }
                        numero: { type: string }
                assento:
                    type: object
                    properties:
                        id: { type: string }
                        numero: { type: integer }
                hold_expires_at: { type: string, format: date-time, nullable: true }
                confirmado_at: { type: string, format: date-time, nullable: true }
                links:
                    $ref: '#/components/schemas/ResourceLinks'

        CriarReservaRequest:
            type: object
            required: [assento_ulid, origem]
            properties:
                assento_ulid: { type: string, minLength: 26, maxLength: 26 }
                convite_ulid: { type: string, minLength: 26, maxLength: 26, nullable: true }
                origem:
                    type: string
                    enum: [formando, comissao, admin, operacao]
                observacao: { type: string, maxLength: 500, nullable: true }

        TrocarReservaRequest:
            type: object
            required: [assento_destino_ulid, origem]
            properties:
                assento_destino_ulid: { type: string, minLength: 26, maxLength: 26 }
                origem:
                    type: string
                    enum: [formando, comissao, admin, operacao]

        MapaMesaResource:
            type: object
            properties:
                mapa:
                    type: object
                    properties:
                        id: { type: string }
                        nome: { type: string }
                setores:
                    type: array
                    items:
                        type: object
                        properties:
                            id: { type: string }
                            nome: { type: string }
                            mesas:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        id: { type: string }
                                        numero: { type: string }
                                        capacidade: { type: integer }
                                        assentos:
                                            type: array
                                            items:
                                                type: object
                                                properties:
                                                    id: { type: string }
                                                    numero: { type: integer }
                                                    status_runtime:
                                                        type: string
                                                        enum: [livre, hold, confirmada, bloqueado]
                                                    hold_expires_at: { type: string, format: date-time, nullable: true }
                                                    reserva_id: { type: string, nullable: true }
                atualizado_em: { type: string, format: date-time }
                deltas:
                    type: array
                    items:
                        type: object
                        properties:
                            assento_id: { type: string }
                            status_runtime: { type: string }
                            hold_expires_at: { type: string, format: date-time, nullable: true }
                            reserva_id: { type: string, nullable: true }

        # -----------------------------
        # Extras
        # -----------------------------
        ProdutoExtraResource:
            type: object
            required: [id, nome, preco_centavos]
            properties:
                id: { type: string }
                nome: { type: string }
                categoria: { type: string }
                preco_centavos: { type: integer }
                descricao: { type: string, nullable: true }
                estoque:
                    type: object
                    properties:
                        tipo: { type: string, enum: [ilimitado, finito] }
                        qtd_restante: { type: integer, nullable: true }
                imagens:
                    type: array
                    items:
                        type: object
                        properties:
                            url: { type: string, format: uri }
                            alt: { type: string }
                links:
                    $ref: '#/components/schemas/ResourceLinks'

        PedidoExtraResource:
            type: object
            required: [id, status, valor_total_centavos]
            properties:
                id: { type: string }
                status:
                    type: string
                    enum: [rascunho, aguardando_pagamento, pago, cancelado, estornado]
                valor_total_centavos: { type: integer }
                itens:
                    type: array
                    items:
                        type: object
                        properties:
                            produto:
                                type: object
                                properties:
                                    id: { type: string }
                                    nome: { type: string }
                            quantidade: { type: integer }
                            preco_unitario_centavos: { type: integer }
                pagamento:
                    $ref: '#/components/schemas/PagamentoResource'
                links:
                    $ref: '#/components/schemas/ResourceLinks'

        CriarPedidoExtraRequest:
            type: object
            required: [itens, metodo_pagamento]
            properties:
                itens:
                    type: array
                    minItems: 1
                    maxItems: 20
                    items:
                        type: object
                        required: [produto_extra_ulid, quantidade]
                        properties:
                            produto_extra_ulid: { type: string, minLength: 26, maxLength: 26 }
                            quantidade: { type: integer, minimum: 1, maximum: 10 }
                metodo_pagamento:
                    type: string
                    enum: [boleto, pix, cartao]

        # -----------------------------
        # Pagamentos
        # -----------------------------
        PagamentoResource:
            type: object
            required: [id, status, valor_centavos]
            properties:
                id: { type: string }
                status:
                    type: string
                    enum: [pendente, autorizado, pago, falhou, estornado]
                metodo:
                    type: string
                    enum: [boleto, pix, cartao]
                valor_centavos: { type: integer }
                pago_em: { type: string, format: date-time, nullable: true }
                boleto:
                    type: object
                    nullable: true
                    properties:
                        linha_digitavel: { type: string }
                        pdf_url: { type: string, format: uri }
                pix:
                    type: object
                    nullable: true
                    properties:
                        qrcode: { type: string }
                        copia_e_cola: { type: string }
                cartao:
                    type: object
                    nullable: true
                    properties:
                        last4: { type: string }
                        brand: { type: string }
                origem:
                    type: object
                    properties:
                        tipo: { type: string, enum: [parcela, pedido_extra] }
                        id: { type: string }
                        descricao: { type: string }
                comprovante_url: { type: string, format: uri, nullable: true }
                links:
                    $ref: '#/components/schemas/ResourceLinks'

        CriarPagamentoIntentRequest:
            type: object
            required: [origem_tipo, origem_ulid, metodo]
            properties:
                origem_tipo:
                    type: string
                    enum: [parcela, pedido_extra]
                origem_ulid: { type: string, minLength: 26, maxLength: 26 }
                metodo:
                    type: string
                    enum: [boleto, pix, cartao]

        # -----------------------------
        # Enquetes
        # -----------------------------
        EnqueteResource:
            type: object
            required: [id, titulo, tipo, status]
            properties:
                id: { type: string }
                titulo: { type: string }
                descricao: { type: string, nullable: true }
                tipo:
                    type: string
                    enum: [unica, multipla, ranking]
                status:
                    type: string
                    enum: [rascunho, aberta, encerrada, arquivada]
                janela:
                    type: object
                    properties:
                        abre_at: { type: string, format: date-time, nullable: true }
                        fecha_at: { type: string, format: date-time, nullable: true }
                permite_edicao: { type: boolean }
                resultado_publico: { type: boolean }
                ja_votei: { type: boolean }
                opcoes:
                    type: array
                    items:
                        type: object
                        properties:
                            id: { type: string }
                            rotulo: { type: string }
                            ordem: { type: integer }
                meu_voto:
                    type: object
                    nullable: true
                    properties:
                        opcao_id: { type: string }
                        registrado_at: { type: string, format: date-time }
                resultado:
                    type: array
                    nullable: true
                    items:
                        type: object
                        properties:
                            opcao_id: { type: string }
                            contagem: { type: integer }
                            percentual: { type: number, format: float }
                links:
                    $ref: '#/components/schemas/ResourceLinks'

        VotoResource:
            type: object
            properties:
                id: { type: string }
                registrado_at: { type: string, format: date-time }
                opcao:
                    type: object
                    properties:
                        id: { type: string }
                        rotulo: { type: string }
                links:
                    $ref: '#/components/schemas/ResourceLinks'

        RegistrarVotoRequest:
            type: object
            properties:
                opcao_ulid: { type: string, minLength: 26, maxLength: 26 }
                opcoes_ulids:
                    type: array
                    items: { type: string, minLength: 26, maxLength: 26 }
            description: |
                Para enquetes `tipo=unica`, usar `opcao_ulid`.
                Para `tipo=multipla`, usar `opcoes_ulids`.

        # -----------------------------
        # Webhook
        # -----------------------------
        WebhookPagamentoPayload:
            type: object
            required: [tipo, evento]
            properties:
                tipo:
                    type: string
                    examples: [pagamento.confirmado, pagamento.autorizado, pagamento.falhou, pagamento.estornado]
                evento:
                    type: object
                    required: [id]
                    properties:
                        id: { type: string, description: 'Gateway reference — UNIQUE com provider' }
                cobranca:
                    type: object
                    properties:
                        id: { type: string }
                        status: { type: string }
                valor_centavos: { type: integer }
                pago_em: { type: string, format: date-time }
                metadata:
                    type: object
                    additionalProperties: true

    responses:
        ValidationErrorResponse:
            description: 422 Unprocessable Entity
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        UnauthenticatedResponse:
            description: 401 Unauthenticated
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        ForbiddenResponse:
            description: 403 Forbidden
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        NotFoundResponse:
            description: 404 NotFound
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        ConflictResponse:
            description: '409 Conflict (ex.: AssentoIndisponivel, CotaEsgotada, IdempotencyConflict)'
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        GoneResponse:
            description: '410 Gone (ex.: HoldExpirado, EndpointSunset)'
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        RateLimitedResponse:
            description: 429 Too Many Requests
            headers:
                Retry-After: { $ref: '#/components/headers/RetryAfter' }
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        InternalServerErrorResponse:
            description: 500 Internal Server Error
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/ErrorEnvelope' }

paths:
    # ==========================================================================
    # 1.1 POST /auth/login — totalmente especificado
    # ==========================================================================
    /auth/login:
        post:
            tags: [Autenticação]
            operationId: authLogin
            summary: Autentica o usuário do portal (SPA ou mobile).
            description: |
                - `mode=spa` — autentica via cookie de sessão (pre-requisito: `GET /sanctum/csrf-cookie`).
                - `mode=token` — retorna `access_token` para uso com `Authorization: Bearer`.

                Rate limit: `login` (5/min por `email + ip`).
            security: [] # endpoint público
            parameters:
                - $ref: '#/components/parameters/XRequestIdHeader'
            requestBody:
                required: true
                content:
                    application/json:
                        schema: { $ref: '#/components/schemas/LoginRequest' }
                        examples:
                            spa:
                                value: { email: mariana@usp.br, password: SenhaSegura#123, mode: spa }
                            token:
                                value:
                                    {
                                        email: mariana@usp.br,
                                        password: SenhaSegura#123,
                                        mode: token,
                                        device_name: Pixel-8,
                                    }
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/LoginSpaResponse'
                                    - $ref: '#/components/schemas/LoginTokenResponse'
                '401': { $ref: '#/components/responses/UnauthenticatedResponse' }
                '422': { $ref: '#/components/responses/ValidationErrorResponse' }
                '429': { $ref: '#/components/responses/RateLimitedResponse' }

    /auth/logout:
        post:
            tags: [Autenticação]
            operationId: authLogout
            summary: Encerra sessão SPA ou revoga token Sanctum atual.
            description: Ver `api-contract.md` §1.2.
            responses:
                '204': { description: No Content }
                '401': { $ref: '#/components/responses/UnauthenticatedResponse' }

    /me:
        get:
            tags: [Autenticação]
            operationId: getMe
            summary: Retorna o usuário autenticado, seus formandos e links base.
            description: Ver `api-contract.md` §1.3.
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/MeUser' }
                '401': { $ref: '#/components/responses/UnauthenticatedResponse' }

    /me/eventos:
        get:
            tags: [FormandoMe]
            operationId: listMeEventos
            summary: Lista eventos vinculados ao usuário autenticado.
            description: Ver `api-contract.md` §2.1.
            parameters:
                - $ref: '#/components/parameters/PageSize'
                - $ref: '#/components/parameters/PageCursor'
                - $ref: '#/components/parameters/SortParam'
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items: { $ref: '#/components/schemas/EventoResource' }
                                    meta: { $ref: '#/components/schemas/PaginationMeta' }
                                    links: { $ref: '#/components/schemas/PaginationLinks' }

    /me/adesoes:
        get:
            tags: [FormandoMe]
            operationId: listMeAdesoes
            summary: Lista adesões do formando autenticado.
            description: Ver `api-contract.md` §2.2. TODO completar schema.
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items: { $ref: '#/components/schemas/AdesaoResource' }

    /me/convites:
        get:
            tags: [FormandoMe, Convites]
            operationId: listMeConvites
            summary: Lista convites emitidos pelo formando autenticado.
            description: Ver `api-contract.md` §2.3.
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items: { $ref: '#/components/schemas/ConviteResource' }

    /me/cotas:
        get:
            tags: [FormandoMe, Convites]
            operationId: getMeCotas
            summary: Saldo de cotas por evento.
            description: Ver `api-contract.md` §2.4.
            responses:
                '200': { description: OK }

    /me/extrato:
        get:
            tags: [FormandoMe, Pagamentos]
            operationId: getMeExtrato
            summary: Extrato financeiro consolidado.
            description: Ver `api-contract.md` §2.5.
            responses:
                '200': { description: OK }

    /eventos/{ulid}:
        get:
            tags: [Eventos]
            operationId: showEvento
            summary: Detalhe do evento.
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/EventoResource' }
                '401': { $ref: '#/components/responses/UnauthenticatedResponse' }
                '403': { $ref: '#/components/responses/ForbiddenResponse' }
                '404': { $ref: '#/components/responses/NotFoundResponse' }

    /eventos/{ulid}/convites:
        get:
            tags: [Convites]
            operationId: listConvites
            summary: Lista convites do evento (com filtros).
            description: Ver `api-contract.md` §4.1.
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
                - $ref: '#/components/parameters/PageSize'
                - $ref: '#/components/parameters/PageCursor'
                - $ref: '#/components/parameters/SortParam'
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items: { $ref: '#/components/schemas/ConviteResource' }
                                    meta: { $ref: '#/components/schemas/PaginationMeta' }
                                    links: { $ref: '#/components/schemas/PaginationLinks' }
        post:
            tags: [Convites]
            operationId: storeConvite
            summary: Emite um novo convite (single).
            description: Ver `api-contract.md` §4.2.
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
            requestBody:
                required: true
                content:
                    application/json:
                        schema: { $ref: '#/components/schemas/CriarConviteRequest' }
            responses:
                '201':
                    description: Criado
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/ConviteResource' }
                '409': { $ref: '#/components/responses/ConflictResponse' }
                '422': { $ref: '#/components/responses/ValidationErrorResponse' }
                '429': { $ref: '#/components/responses/RateLimitedResponse' }

    /eventos/{ulid}/convites/{conviteUlid}:
        parameters:
            - $ref: '#/components/parameters/UlidPathParam'
            - name: conviteUlid
              in: path
              required: true
              schema: { type: string, minLength: 26, maxLength: 26 }
        patch:
            tags: [Convites]
            operationId: updateConvite
            summary: Atualiza dados do convidado (antes de enviado).
            responses:
                '200': { description: OK }
                '409': { $ref: '#/components/responses/ConflictResponse' }
        delete:
            tags: [Convites]
            operationId: cancelConvite
            summary: Cancela o convite (não DELETE físico).
            responses:
                '204': { description: No Content }

    /eventos/{ulid}/convites/lotes:
        post:
            tags: [Convites]
            operationId: storeLoteConvites
            summary: Emissão em lote (assíncrona; retorna 202 + status_url).
            description: Ver `api-contract.md` §4.5.
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
                - $ref: '#/components/parameters/XIdempotencyKeyHeader'
            responses:
                '202':
                    description: Aceito (async)
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/LoteConviteResource' }

    /eventos/{ulid}/convites/lotes/{loteUlid}:
        get:
            tags: [Convites]
            operationId: showLoteConvites
            summary: Status do lote (polling).
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
                - name: loteUlid
                  in: path
                  required: true
                  schema: { type: string, minLength: 26, maxLength: 26 }
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/LoteConviteResource' }

    /convite/{token}:
        get:
            tags: [Convites]
            operationId: showConvitePublico
            summary: Leitura pública via token mágico (64 hex chars).
            description: |
                Endpoint sem Sanctum. Middleware `ResolveConviteToken` valida tamanho (==64)
                e compara `sha256(token)` com `convites.token_hash`.
            security: []
            parameters:
                - name: token
                  in: path
                  required: true
                  schema: { type: string, minLength: 64, maxLength: 64, pattern: '^[0-9a-f]{64}$' }
            responses:
                '200': { description: OK }
                '404': { $ref: '#/components/responses/NotFoundResponse' }
                '429': { $ref: '#/components/responses/RateLimitedResponse' }

    /convite/{token}/rsvp:
        post:
            tags: [Convites]
            operationId: storeRsvp
            summary: Registra resposta do convidado (confirmo, recuso, tentativa).
            description: Ver `api-contract.md` §5.2.
            security: []
            parameters:
                - name: token
                  in: path
                  required: true
                  schema: { type: string, minLength: 64, maxLength: 64 }
            responses:
                '200': { description: OK }
                '409': { $ref: '#/components/responses/ConflictResponse' }
                '422': { $ref: '#/components/responses/ValidationErrorResponse' }

    /eventos/{ulid}/mesas/mapa:
        get:
            tags: [Seating]
            operationId: getMapa
            summary: Snapshot completo ou delta via ?since.
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
                - name: since
                  in: query
                  required: false
                  schema: { type: string, format: date-time }
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/MapaMesaResource' }

    # ==========================================================================
    # 6.2 POST /eventos/{ulid}/mesas/reservas — totalmente especificado
    # ==========================================================================
    /eventos/{ulid}/mesas/reservas:
        post:
            tags: [Seating]
            operationId: storeReservaAssento
            summary: Cria hold de 5 min em um assento livre.
            description: |
                - Exige `X-Idempotency-Key` único por request. Re-envio da mesma key com mesmo payload
                  retorna o estado atual (idempotente). Payload diferente → 409 IdempotencyConflict.
                - Policy: `ReservaAssentoPolicy::reservar`.
                - Rate limit: `throttle.actor:seating` (5/min).
                - Regra de concorrência: UNIQUE parcial `reservas_assentos_ativa_por_assento`.
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
                - $ref: '#/components/parameters/XIdempotencyKeyHeader'
                - $ref: '#/components/parameters/XRequestIdHeader'
            requestBody:
                required: true
                content:
                    application/json:
                        schema: { $ref: '#/components/schemas/CriarReservaRequest' }
                        examples:
                            simples:
                                value:
                                    assento_ulid: 01J5K3B5GTYV8E2F1W0M8P2XQA
                                    origem: formando
                            com_convite:
                                value:
                                    assento_ulid: 01J5K3B5GTYV8E2F1W0M8P2XQA
                                    convite_ulid: 01J5K3B5GTYV8E2F1W0M8P2XQB
                                    origem: formando
                                    observacao: Próximo à família
            responses:
                '201':
                    description: Criado (hold ativo)
                    headers:
                        Location:
                            schema: { type: string, format: uri }
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/ReservaAssentoResource' }
                            example:
                                data:
                                    id: 01J5K2N7QMHV1FJZ8H0PR3RV9C
                                    status: hold
                                    mesa: { id: 01J5..., numero: '12' }
                                    assento: { id: 01J5..., numero: 2 }
                                    hold_expires_at: '2026-11-10T14:35:22-03:00'
                                    confirmado_at: null
                                    links:
                                        self: 'https://api.portalartfinal.com.br/api/v1/eventos/01J.../mesas/reservas/01J...'
                                        confirmar: 'https://api.portalartfinal.com.br/api/v1/eventos/01J.../mesas/reservas/01J.../confirmar'
                                        cancelar: 'https://api.portalartfinal.com.br/api/v1/eventos/01J.../mesas/reservas/01J...'
                                        trocar: 'https://api.portalartfinal.com.br/api/v1/eventos/01J.../mesas/reservas/01J.../trocar'
                '401': { $ref: '#/components/responses/UnauthenticatedResponse' }
                '403': { $ref: '#/components/responses/ForbiddenResponse' }
                '409': { $ref: '#/components/responses/ConflictResponse' }
                '422': { $ref: '#/components/responses/ValidationErrorResponse' }
                '429': { $ref: '#/components/responses/RateLimitedResponse' }

    /eventos/{ulid}/mesas/reservas/{reservaUlid}/confirmar:
        post:
            tags: [Seating]
            operationId: confirmarReserva
            summary: Promove hold→confirmada. Fatal se hold expirou (410 HoldExpirado).
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
                - name: reservaUlid
                  in: path
                  required: true
                  schema: { type: string, minLength: 26, maxLength: 26 }
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/ReservaAssentoResource' }
                '409': { $ref: '#/components/responses/ConflictResponse' }
                '410': { $ref: '#/components/responses/GoneResponse' }

    /eventos/{ulid}/mesas/reservas/{reservaUlid}:
        delete:
            tags: [Seating]
            operationId: deleteReserva
            summary: Cancela reserva (libera o assento).
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
                - name: reservaUlid
                  in: path
                  required: true
                  schema: { type: string, minLength: 26, maxLength: 26 }
                - name: motivo
                  in: query
                  required: false
                  schema: { type: string, maxLength: 200 }
            responses:
                '204': { description: No Content }

    /eventos/{ulid}/mesas/reservas/{reservaUlid}/trocar:
        post:
            tags: [Seating]
            operationId: trocarReserva
            summary: Troca atômica (libera atual + cria novo hold no destino).
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
                - name: reservaUlid
                  in: path
                  required: true
                  schema: { type: string, minLength: 26, maxLength: 26 }
                - $ref: '#/components/parameters/XIdempotencyKeyHeader'
            requestBody:
                required: true
                content:
                    application/json:
                        schema: { $ref: '#/components/schemas/TrocarReservaRequest' }
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/ReservaAssentoResource' }
                '409': { $ref: '#/components/responses/ConflictResponse' }
                '410': { $ref: '#/components/responses/GoneResponse' }

    /eventos/{ulid}/extras/catalogo:
        get:
            tags: [Extras]
            operationId: listCatalogoExtras
            summary: Catálogo de produtos extras do evento.
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items: { $ref: '#/components/schemas/ProdutoExtraResource' }

    /eventos/{ulid}/extras/pedidos:
        post:
            tags: [Extras]
            operationId: storePedidoExtra
            summary: Cria pedido extra + intent de pagamento.
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
                - $ref: '#/components/parameters/XIdempotencyKeyHeader'
            requestBody:
                required: true
                content:
                    application/json:
                        schema: { $ref: '#/components/schemas/CriarPedidoExtraRequest' }
            responses:
                '201':
                    description: Criado
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/PedidoExtraResource' }
                '409': { $ref: '#/components/responses/ConflictResponse' }
                '422': { $ref: '#/components/responses/ValidationErrorResponse' }

    /eventos/{ulid}/extras/pedidos/{pedidoUlid}:
        get:
            tags: [Extras]
            operationId: showPedidoExtra
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
                - name: pedidoUlid
                  in: path
                  required: true
                  schema: { type: string, minLength: 26, maxLength: 26 }
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/PedidoExtraResource' }

    /pagamentos/intents:
        post:
            tags: [Pagamentos]
            operationId: storePagamentoIntent
            summary: Cria intent de cobrança (parcela ou pedido extra).
            parameters:
                - $ref: '#/components/parameters/XIdempotencyKeyHeader'
            requestBody:
                required: true
                content:
                    application/json:
                        schema: { $ref: '#/components/schemas/CriarPagamentoIntentRequest' }
            responses:
                '201':
                    description: Criado
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/PagamentoResource' }

    /pagamentos/{ulid}:
        get:
            tags: [Pagamentos]
            operationId: showPagamento
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/PagamentoResource' }

    /eventos/{ulid}/enquetes:
        get:
            tags: [Enquetes]
            operationId: listEnquetes
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items: { $ref: '#/components/schemas/EnqueteResource' }

    /eventos/{ulid}/enquetes/{enqueteUlid}:
        get:
            tags: [Enquetes]
            operationId: showEnquete
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
                - name: enqueteUlid
                  in: path
                  required: true
                  schema: { type: string, minLength: 26, maxLength: 26 }
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/EnqueteResource' }

    /eventos/{ulid}/enquetes/{enqueteUlid}/votos:
        post:
            tags: [Enquetes]
            operationId: storeVoto
            summary: Registra voto. Para `permite_edicao=true`, funciona como upsert.
            parameters:
                - $ref: '#/components/parameters/UlidPathParam'
                - name: enqueteUlid
                  in: path
                  required: true
                  schema: { type: string, minLength: 26, maxLength: 26 }
            requestBody:
                required: true
                content:
                    application/json:
                        schema: { $ref: '#/components/schemas/RegistrarVotoRequest' }
            responses:
                '201':
                    description: Criado
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data: { $ref: '#/components/schemas/VotoResource' }
                '409': { $ref: '#/components/responses/ConflictResponse' }
                '429': { $ref: '#/components/responses/RateLimitedResponse' }

    # ==========================================================================
    # 10.1 POST /webhooks/pagamentos/{provider} — totalmente especificado
    # ==========================================================================
    /webhooks/pagamentos/{provider}:
        post:
            tags: [Webhooks]
            operationId: webhookPagamento
            summary: Recebe eventos de pagamento do provedor (idempotente por gateway_reference).
            description: |
                Endpoint **sem Sanctum**, autenticação por HMAC em `X-Signature`.
                - `firstOrCreate` em `webhook_eventos` via UNIQUE `(provider, gateway_reference)`.
                - Se novo: retorna 202. Se já processado: 200 com `status: already_processed`.
                - Rate limit `webhook` (600/min/IP). IPs do provider preferencialmente em allow-list WAF.
            security: []
            parameters:
                - name: provider
                  in: path
                  required: true
                  schema:
                      type: string
                      enum: [itau, mock]
                - name: X-Signature
                  in: header
                  required: true
                  description: "hash_hmac('sha256', rawBody, webhookSecret)"
                  schema: { type: string }
                - $ref: '#/components/parameters/XRequestIdHeader'
            requestBody:
                required: true
                content:
                    application/json:
                        schema: { $ref: '#/components/schemas/WebhookPagamentoPayload' }
                        example:
                            tipo: pagamento.confirmado
                            evento: { id: ITAU-EVT-20260417-0007 }
                            cobranca: { id: ITAU-20260417-0001, status: pago }
                            valor_centavos: 150099
                            pago_em: '2026-04-17T14:32:11-03:00'
                            metadata: { adesao_ulid: 01J... }
            responses:
                '202':
                    description: Aceito (novo evento)
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status: { type: string, example: accepted }
                '200':
                    description: Já processado (idempotência)
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status: { type: string, example: already_processed }
                '400':
                    description: 'Payload inválido (ex.: `evento.id` ausente)'
                    content:
                        application/json:
                            schema: { $ref: '#/components/schemas/ErrorEnvelope' }
                '401':
                    description: Assinatura HMAC inválida
                    content:
                        application/json:
                            schema: { $ref: '#/components/schemas/ErrorEnvelope' }
                '429':
                    $ref: '#/components/responses/RateLimitedResponse'
# ═══════════════════════════════════════════════════════════════════════
# Adesão pública (SPEC-010 v2.0.0 — código do contrato)
# ═══════════════════════════════════════════════════════════════════════
# Stub adicionado em 2026-04-23. Paths completos, schemas e exemplos vivem em
# docs/features/SPEC-010-adesao-publica-codigo-contrato.md §2 (contratos de API).
# Expansão para OpenAPI oficial prevista no plano executável:
# docs/superpowers/plans/2026-04-19-adesao-publica-codigo-contrato-plan.md (Gate 3).
#
# Endpoints (sob /api/v1/adesao/publico/):
#   GET  /{codigo-contrato}              → ContratoPublicoResponse
#   POST /{codigo-contrato}/iniciar      → DraftTokenResponse | 409 MustLogin
#   POST /simular                        → SimulacaoResponse
#   POST /commit                         → AdesaoCommitResponse (201 + auto_login_token)
#
# Bloco admin:
#   PATCH  /api/v1/admin/contratos/{contrato:ulid}/codigo-acesso
#   DELETE /api/v1/admin/contratos/{contrato:ulid}/codigo-acesso
#   PATCH  /api/v1/admin/contratos/{contrato:ulid}/adesao-publica
#
# Headers comuns: X-Adesao-Draft-Token (JWT HS256 TTL 48h), X-Idempotency-Key
# (commit e mutações que causam side-effects).
#
# Exemplo mínimo de um path (implementação completa será adicionada pela squad
# no Gate 3 do plano executável):
#
#   /adesao/publico/{codigo-contrato}:
#     get:
#       operationId: adesaoPublicoShow
#       tags: [adesao-publica]
#       parameters:
#         - in: path
#           name: codigo-contrato
#           required: true
#           schema:
#             type: string
#             pattern: '^[A-Z0-9-]{4,32}$'
#             example: ARTFINAL-USP-MED-2026
#       responses:
#         '200':
#           description: Contrato + turmas disponíveis + pacotes formatura + condições
#           content:
#             application/json:
#               schema:
#                 $ref: '#/components/schemas/ContratoPublicoResponse'
#         '404':
#           description: Código inválido ou contrato não encontrado
#         '403':
#           description: Adesão pública desabilitada ou contrato encerrado
#         '429':
#           $ref: '#/components/responses/RateLimitedResponse'
